.sidebar {
    width: 300px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
    transition: width 0.3s;
    background-color: #fff;

}

.sidebar-closed {
    width: 80px;
}

.sidebar-header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    background: linear-gradient(135deg, #4FC3F7 0%, #5FCB9F 100%);
}

.sidebar-header h2 {
    color: white;
    font-size: 28px;
    font-weight: 600;
    margin: 0;
    margin: 10px;
}

.close-btn {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar-nav {
    display: flex;
    flex-direction: column;
    gap: 16px;
    flex: 1;
}

.nav-item {
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 20px 24px;
    margin: 5px;
    background: transparent;
    border: none;
    border-radius: 12px;
    color: #000;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s;
    text-align: left;
}

.sidebar-closed .nav-item {
    justify-content: center;
        margin: 5px;
}

.nav-item:hover {
    /* background: rgba(28, 28, 28, 0.334);
     */
    border-style: solid;
    border-width: 2px;
    border-color: linear-gradient(135deg, #4FC3F7 0%, #5FCB9F 100%);
}

.nav-item.active {
    border:1px solid linear-gradient(135deg, #4FC3F7 0%, #5FCB9F 100%);
}

.logout-btn {
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 20px 24px;
    background: transparent;
    border: none;
    color: #EF5350;
    font-size: 18px;
    cursor: pointer;
    margin-top: auto;
    transition: background-color 0.3s;
    border-radius: 12px;
}

.sidebar-closed .logout-btn {
    justify-content: center;
}

.logout-btn:hover {
    background: rgba(239, 83, 80, 0.1);
}