.container-main{
    width: 100%;
    height: 100vh;
}

.containerHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0% 2%;
}

.containerBotaoCadastro{
    width: 90%;
    display: flex;
    margin: 1% 4%;
    justify-content: flex-end;
}

.containerBotaoCadastro button{
    align-self: flex-end;
}
