/* Remove estilos do template Vite */
:root {
  font-family: Arial, Helvetica, sans-serif;
}

/* REMOVER o background do root */
:root {
  background: none;
}

html, body, #root {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}
