.container-login {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center; 
  align-items: center;    
  background: linear-gradient(135deg, #e8f4ff, #dff7f4);
}

.card-login {
  background: white;
  width: 350px;
  padding: 30px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 5px 20px rgba(0,0,0,0.1);
  text-align: center;
}

.logo {
  width: 100px;
  margin: 0 auto;
  margin-bottom: 10px;
}

.card-login input {
  margin-top: 5px;
  margin-bottom: 15px;
  padding: 12px;
  border-radius: 10px;
  border: 1px solid #ccc;
  width: 100%;
}

.card-login button {
  background: linear-gradient(90deg, #009dff, #00d488);
  border: none;
  color: white;
  padding: 12px;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
}

.card-login a {
  margin-top: 15px;
  color: #009dff;
  font-size: 14px;
  text-decoration: none;
}
