.inputPesquisa{
    width: 250px;
    height: 35px;
    border-radius: 5px;
}

.containerInput{
    position: relative;
    display: flex;
    align-items: center;
        margin: 3% 4%;
}

.iconeLupa{
    position: absolute;
    left: 10px;
    pointer-events: none;
}

.inputPesquisa{
    padding-left: 35px;
    border: none;
    background-color: #e9e9e977;
}
