body {
  margin: 0;
  font-family: "Inter", sans-serif;
  background: linear-gradient(135deg, #e6f3ff, #e6fff2);
}

.login-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 20px;
}

.login-card {
  width: 370px;
  padding: 50px 40px;
  border-radius: 20px;
  background: #fff;
  box-shadow: 0px 10px 30px rgba(0,0,0,0.30);
  text-align: center;
}

.login-logo {
  width: 180px;
}

h2 {
  font-weight: 500;
  margin-bottom: 70px;
  color: #414141;
}

.login-field {
  margin-bottom: 20px;
  text-align: left;
  display: flex;
  flex-direction: column;
}

.login-field label {
  display: flex;
  font-size: 14px;
  margin-bottom: 6px;
  color: #5a5a5a;
}

.login-field input {
  width: 100%;
  padding: 16px;
  border: rgb(161, 156, 156) 1px solid;
  background: #f1f1f1;
  border-radius: 10px;
  font-size: 15px;
  box-sizing: border-box;
}

.botaologin {
  display: flex;
  text-decoration: none;
  justify-content: center;
  width: 90%;
  padding: 16px;
  border: none;
  margin-top: 10px;
  border-radius: 12px;
  cursor: pointer;
  background: linear-gradient(90deg, #00a0ff, #00d48c);
  color: white;
  font-size: 16px;
}

.esqueceu {
  display: block;
  margin-top: 15px;
  margin-bottom: 50px;
  font-size: 14px;
  color: #0b84ff;
  text-decoration: none;
}

footer {
  margin-top: 20px;
  font-size: 13px;
  color: #6d6d6d;
}
