body {
  margin: 0;
  font-family: "Inter", sans-serif;
  background: linear-gradient(135deg, #e6f3ff, #e6fff2);
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.45);
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(4px);
  z-index: 9999;
}

.modal-card {
  width: 450px;
  background: #fff;
  padding: 35px 35px 45px;
  border-radius: 25px;
  position: relative;
  text-align: center;
  box-shadow: 0px 12px 40px rgba(0,0,0,0.15);
}

.modal-logo {
  width: 110px;
}

h2 {
  font-weight: 500;
  margin: 15px 0 25px;
  color: #444;
}

.modal-field {
  margin-bottom: 20px;
  text-align: left;
  display: flex;
  flex-direction: column;
}

.modal-field label {
  display: flex;
  font-size: 14px;
  margin-bottom: 6px;
  color: #5a5a5a;
}

.modal-field input, .modal-field select {
  width: 100%;
  padding: 16px;
  border: rgb(161, 156, 156) 1px solid;
  background: #f1f1f1;
  border-radius: 10px;
  font-size: 15px;
  box-sizing: border-box;
}

.btn-submit {
  width: 100%;
  padding: 16px;
  border: none;
  margin-top: 10px;
  border-radius: 12px;
  cursor: pointer;
  background: linear-gradient(90deg, #00a0ff, #00d48c);
  color: white;
  font-size: 16px;
}


.close-btn {
  position: absolute;
  top: 18px;
  right: 18px;
  font-size: 28px;
  border: none;
  background: transparent;
  cursor: pointer;
  color: #666;
}
