.Dashboard {
    width: 85%;
    height: 100vh;
    display: flex;
    /* flex-direction: row; */
    align-items: stretch;
    background-color: #f5f5f5;

}




.conteudo {
    height: 100vh;
    width: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.Breadcrumbs {
    /* border: 1px solid green; */
    height: 5%;
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: end;
    flex-direction: column;
}

.MenuHamburguer {
    height: 45%;
    width: 1.5%;
    cursor: pointer;
}

.TopDashKpis {
    /* border: 1px solid yellow; */
    height: 25%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.MainContent {
    /* border: 1px solid orange; */
    /* background-color: #f5f5f5; */
    height: 70%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.ChartHorintalBar {
    /* border: 1px solid purple; */
    background-color: #ffffff;
    height: 80%;
    width: 65%;
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.chartVerticalBar {
    /* border: 1px solid purple; */
    background-color: #ffffff;
    height: 80%;
    width: 35%;
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.chartBar {
    height: 100%;
    width: 95%;
}

.chartTitle{
    background: linear-gradient(#F0FDFA 0%, #EFF6FF 100%);
    height: 20%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px 8px 0 0;
}

h1{
    font-size: 1.4rem;
}